@layout('layouts.rightsidebar')
@section('page-content')

  <h1>Services</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsa nesciunt placeat non, eligendi totam dignissimos quas ea beatae corrupti repellat dolor sint! Vel, cum!</p>

@endsection
